.gallery {
  color: $color-black;
  padding: 10rem 0;

  &-content-container {
    width: 90%;
    margin: 4rem auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include respond(tab-port) {
      flex-direction: column;
    }
  }

  &-categories-list {
    width: 10%;
    display: flex;
    flex-direction: column;
    height: 20rem;

    @include respond(tab-port) {
      flex-direction: row;
      width: 80%;
      justify-content: space-between;
      height: auto;
      margin: 0 auto 3rem auto;
    }

    @include respond(phone) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 90%;
      gap: 1rem;
    }

    &item {
      font-size: 1.6rem;
      font-weight: 600;
      letter-spacing: 0.2rem;
      text-transform: capitalize;
      cursor: pointer;
      display: block;
      outline: none;
      border: none;
      margin-bottom: 2rem;
      color: $color-black;
      border-bottom: 1px solid $color-black;
      padding-bottom: 0.5rem;
      background-color: transparent;

      @include respond(tab-port) {
        margin-bottom: 0;
      }

      @include respond(phone) {
      }
    }
  }

  &-pictures {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 4rem;

    @include respond(tab-port) {
      margin: 3rem auto;
      width: 100%;
    }

    &-container {
      height: 40rem;
      background-color: transparent;
      border: none;
      outline: none;
    }

    &-picture {
      cursor: pointer;
      height: 40rem;
      border-radius: 0.5rem;
      outline: none;
    }
  }

  &-image-modal {
    position: fixed;
    z-index: 10;
    padding-top: 5rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);

    &-image {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
      animation: zoomInModalImage 0.6s;

      @include respond(phone) {
        max-width: 80%;
        width: 80%;
      }
    }

    &-close {
      font-size: 5rem;
      position: absolute;
      right: 2rem;
      top: 1rem;
      cursor: pointer;
      color: $color-white;
      z-index: 8;

      @include respond(tab-land) {
        font-size: 3rem;
      }
    }

    &-left {
      font-size: 4rem;
      position: absolute;
      left: 1rem;
      top: 50%;
      cursor: pointer;
      color: $color-white;
      z-index: 8;

      @include respond(tab-land) {
        font-size: 3rem;
      }

      @include respond(phone) {
        left: 0.5rem;
        font-size: 2rem;
      }
    }

    &-right {
      font-size: 4rem;
      position: absolute;
      right: 1rem;
      top: 50%;
      cursor: pointer;
      color: $color-white;
      z-index: 8;

      @include respond(tab-land) {
        font-size: 3rem;
      }

      @include respond(phone) {
        right: 0.5rem;
        font-size: 2rem;
      }
    }
  }
}
