.footer {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;

  &__social-links {
    width: 8vw;
    margin: 0 auto 0.5rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(phone) {
      width: 17vw;
    }

    &-listitem {
      font-size: 2rem;
    }

    &-link,
    &-link:link,
    &-link:visited {
      color: $color-black;
      border-radius: 50%;
      transition: 0.3s all;

      &:hover,
      &:focus {
        opacity: 0.7;
      }
    }
  }
}
